
body {
	color: white;
 }

dialog  {
 position: relative;
  background-color: blue;
  color: white;
  height: 15px;
  text-align:center;
}
 #box {
 outline-color: blue;
 display:grid;
grid-template-columns: minmax(auto, 200px);
grid-column: 1;
grid-row: 2;
 }
#box2{

}
