
body {
	color: white;
 }

dialog  {
 position: relative;
  background-color: blue;
  color: white;
  height: 15px;
  text-align:center;
}
 #box {
 outline-color: blue;
 display:grid;

 }
#box > p {
  text-align: center;
}
